<section class="footer">
    <div class="all">


        <div class="contenedor">

            <div class="Contacto">
                <div class="logo">
                    <a href="/" class="logo">cvmilo</a>
                </div>
                <h1>Contacto</h1>
                <h6>Calle 88 sur #88c - 90</h6>
                <h6>+57 304-589-0747</h6>
                <h6>camiloc9203@gmail.com</h6>
            </div>
    
            <div class="Politicas">
                <h1>Politicas</h1>
                <h6><a routerLink="/nosotros" (click)="scrollToTop()">Acerca de la empresa</a></h6>
                <h6><a routerLink="/portafolio" (click)="scrollToTop()">Proyectos</a></h6>
                <h6><a routerLink="/politicasdeprivacidad" (click)="scrollToTop()">Politicas de privacidad</a> </h6>
                <h6><a routerLink="/terminos&condiciones" (click)="scrollToTop()">Terminos & Condiciones</a></h6>
            </div>
    
            <div class="redes-sociales">
                <h1>Redes Sociales</h1>
                <h6><a href="https://github.com/cvmilocrz" target="_blank">Git hub</a></h6>
                <h6><a href="https://codepen.io/Camilo-Cruz-the-sans" target="_blank">Code Pen</a></h6>
                <h6><a href="https://www.instagram.com/cvmilo_9/?hl=es" target="_blank"> Instagram</a></h6>
            </div>
    
            <div class="que-hacemos">
                <h1>Que hacemos</h1>
                <h6>- Desarrollar soluciones de diseño</h6>
                <h6>- Producir contenido audiovisual valioso</h6>
                <h6>- Crear una experiencia de marca fresca</h6>
    
            </div>
    
            <div class="return" (click)="scrollToTop()">
                <span class="material-symbols-outlined">
                    arrow_upward
                </span>


                <h6 class="txtr">Volver arriba</h6>
            </div>
        </div>
    </div>









</section>