<app-navbar></app-navbar>
<section class="nosotros">
    <div class="container">

        <div class="txtin">
            <h1>
                Mi nombre es Camilo Cruz. <br>
                Desarrolador WEB, <br>
                Diseñador UX/UI
            </h1>
        </div>

        <div class="desc">
            Soy un apasionado por la tecnología desde joven.
            En proceso de graduación de: Tecnología en Sistemas Informáticos por la Universidad de Caldas. Durante mi tiempo en la universidad, me sumergí en el mundo del desarrollo web, diseño gráfico y bases de datos, desarrollando sólidos conocimientos en estas áreas. Tengo habilidades solidas en Html, Css, JavaScript, TypeScript, Php. Asi como el uso de herramientas y frameworks como Angular, Laravel, Xampp, MySql, MongoDB, Photoshop, After Effects, Illustrator y Davinci Resolve. Siendo mi IDE favorito Visual Studio Code.
        </div>

        
        <div class="habh">
            <h1>Habilidades</h1>
        </div>
        <div class="hbld">
            Tecnología en Sistemas Informáticos<br>
            Desarrollo Web<br>
            Front-End<br>
            Diseño Gráfico<br>
            Diseño UX/UI<br>
            Bases de Datos<br>
        </div>
        
    </div>
</section>

<section class="icons">
    <div>
        <h1 class="iconsh1">
            HERRAMIENTAS DE TRABAJO
        </h1>
    </div>
    <div class="habilidades">
        <img src="../assets/hbld/html.webp" alt="" title="HTML: Lenguaje de marcado utilizado para crear páginas web.">
        <img src="../assets/hbld/css.webp" alt="" title="CSS: Lenguaje utilizado para dar estilo a las páginas web.">
        <img src="../assets/hbld/js.png" alt="" title="JavaScript: Lenguaje de programación ampliamente utilizado en desarrollo web y aplicaciones interactivas.">
        <img src="../assets/hbld/TS.png" alt="" title="TypeScript: Un superset de JavaScript que añade tipos estáticos y otras características a JavaScript.">
        <img src="../assets/hbld/php.png" alt="" title="PHP: Lenguaje de programación ampliamente utilizado en desarrollo web del lado del servidor.">
        <img src="../assets/hbld/angular.webp" alt="" title="Angular: Un marco de trabajo de desarrollo de aplicaciones web front-end desarrollado por Google.">
        <img src="../assets/hbld/laravel.png" alt="" title="Laravel: Un marco de trabajo de desarrollo web PHP que simplifica tareas comunes como el enrutamiento y la autenticación.">
        <img src="../assets/hbld/xampp.png" alt="" title="XAMPP: Un paquete de software que incluye Apache, MySQL, PHP y Perl, utilizado para crear entornos de desarrollo web local.">
        <img src="../assets/hbld/mysql.png" alt="" title="MySQL: Un sistema de gestión de bases de datos relacionales ampliamente utilizado en desarrollo web.">  
        <img src="../assets/hbld/mongo.jpg" alt="" title="MongoDB: Una base de datos NoSQL orientada a documentos utilizada en aplicaciones modernas.">
        <img src="../assets/hbld/github.png" alt="" title="GitHub: Una forja para alojar proyectos utilizando el sistema de control de versiones Git.">
        <img src="../assets/hbld/Photoshop.png" alt="" title="Adobe Photoshop: Un software de edición de imágenes y diseño gráfico ampliamente utilizado.">
        <img src="../assets/hbld/AF.png" alt="" title="Adobe After Effects: Un software de posproducción y efectos visuales utilizado en la industria de la producción de video y animación.">
        <img src="../assets/hbld/illustrator.png" alt="" title="Adobe Illustrator: Un software de diseño vectorial utilizado para crear gráficos, ilustraciones y logotipos.">
        <img src="../assets/hbld/davinci.png" alt="" title="DaVinci Resolve: Un software de edición de video y corrección de color utilizado en la postproducción de video.">
        <img src="../assets/hbld/VSC.webp" alt="" title="Visual Studio Code: Un editor de código fuente gratuito y de código abierto desarrollado por Microsoft.">
    </div>

    
</section>
<app-contrapido></app-contrapido>
<app-footer></app-footer>
