@media (max-width: 767px){
    .navdel{
        height: 49px;
        background-color: transparent;
        width: 100%;
    }
    a{
        text-decoration: none;
    }
    h1{
        font-size: 2rem;
        color: var(--color-5);
        font-family: 'Oswald', sans-serif;
    }
    .principal{
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: white;
    padding-bottom: 50px;
    }
    .content{
        width: 80%;
        font-weight: bold;
    }
    .tittle{
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-items: center;
    }
    
    .code{
        width: 100%;
        height: auto;
        border-radius: 10px;
    }
    .code2{
        width: 70%;
        height: auto;
        border-radius: 10px;
    }
    .code3{
        width: 70%;
        height: 10%;
        border-radius: 10px;
    }
    .code5{
        width: 100%;
        height: auto;
        border-radius: 10px;
        box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
    }
    .img2{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: auto;
    }
    
    .tittle{
        width: 50%;
    }
    .tittle h1{
        font-family: 'Oswald', sans-serif;
        color: var(--color-5);
    }
    .botones {
        gap: 10px;
        font-size: 0.8rem;
        display: flex;
        margin-top: 20px; 
        white-space: nowrap;
        justify-content: center;
    }
    
    
    /*boton 2*/
    .btnb {
        display: flex;
        font-family: 'Oswald', sans-serif;
        border: none;
        color: #fff !important;
        padding: 20px 45px;
        border-radius: 0;
    }
    
    .btnb:focus {
        box-shadow: none;
    }
    
    @media (max-width: 991px) {
        .btnb {
            padding: 17px 40px;
        }
    }
    
    .btnb .btn-area {
        display: block;
        overflow: hidden;
    }
    
    .btnb .btn-area span {
        position: relative;
        display: block;
        padding: 2px 0;
        transition: transform 0.9s cubic-bezier(0.19, 1, 0.22, 1);
        transform-origin: left center;
    }
    
    .btnb .btn-area span::after {
        content: attr(data-text);
        position: absolute;
        top: 150%;
        left: 0;
        transform: skewY(30deg);
        transform-origin: left center;
        transition: transform 0.9s cubic-bezier(0.19, 1, 0.22, 1);
    }
    
    .btnb:hover .btn-area span {
        transform: translateY(-150%) skewY(7deg);
    }
    
    .btnb:hover .btn-area span::after {
        transform: skewY(-7deg);
    }
    
    .btnb:visited .btn-area span {
        transform: translateY(-150%) skewY(7deg);
    }
    
    .btnb:visited .btn-area span::after {
        transform: skewY(-7deg);
    }
    
    .btnb:hover {
        background: var(--color-5);
    }
    
    .btnb {
        padding: 15px 10px !important;
        background: var(--color-5);
        color: #fff;
    }

    
}
@media (min-width: 768px) and (max-width: 1919px) {
    .navdel{
        height: 80px;
        background-color: transparent;
        width: 100%;
    }
    .tittle{
        text-align: center;
    }
    a{
        text-decoration: none;
    }
    h1{
        font-size: 4rem;
        color: var(--color-5);
        font-family: 'Oswald', sans-serif;
    }
    .principal{
    height: auto;
    padding: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: white;
    }
    .content{
        width: 70%;
        font-weight: bold;
    }
    
    .code{
        width: 100%;
        height: auto;
        border-radius: 10px;
    }
    .code2{
        width: 70%;
        height: auto;
        border-radius: 10px;
    }
    .code3{
        width: 70%;
        height: 10%;
        border-radius: 10px;
    }
    .code5{
        width: 100%;
        height: auto;
        border-radius: 10px;
        box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
    }
    .img2{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: auto;
    }
    
    .tittle{
        width: 50%;
    }
    .tittle h1{
        font-family: 'Oswald', sans-serif;
        color: var(--color-5);
    }
    .botones {
        width: 40%;
        display: flex;
        justify-content: space-between;
        margin-top: 20px; 
    }
    
    
    /*boton 2*/
    .btnb {
        display: flex;
        margin: 35px;
        font-family: 'Oswald', sans-serif;
        border: none;
        color: #fff !important;
        padding: 20px 45px;
        border-radius: 0;
    }
    
    .btnb:focus {
        box-shadow: none;
    }
    
    @media (max-width: 991px) {
        .btnb {
            padding: 17px 40px;
        }
    }
    
    .btnb .btn-area {
        display: block;
        overflow: hidden;
    }
    
    .btnb .btn-area span {
        position: relative;
        display: block;
        padding: 2px 0;
        transition: transform 0.9s cubic-bezier(0.19, 1, 0.22, 1);
        transform-origin: left center;
    }
    
    .btnb .btn-area span::after {
        content: attr(data-text);
        position: absolute;
        top: 150%;
        left: 0;
        transform: skewY(30deg);
        transform-origin: left center;
        transition: transform 0.9s cubic-bezier(0.19, 1, 0.22, 1);
    }
    
    .btnb:hover .btn-area span {
        transform: translateY(-150%) skewY(7deg);
    }
    
    .btnb:hover .btn-area span::after {
        transform: skewY(-7deg);
    }
    
    .btnb:visited .btn-area span {
        transform: translateY(-150%) skewY(7deg);
    }
    
    .btnb:visited .btn-area span::after {
        transform: skewY(-7deg);
    }
    
    .btnb:hover {
        background: var(--color-5);
    }
    
    .btnb {
        padding: 15px 10px !important;
        background: var(--color-5);
        color: #fff;
    }
    .material-symbols-outlined{
        transform: translateY(3px);
    }
    
}
@media (min-width: 1920px) {
    .navdel{
        height: 80px;
        background-color: transparent;
        width: 100%;
    }
    .tittle{
        text-align: center;
    }
    a{
        text-decoration: none;
    }
    h1{
        font-size: 4rem;
        color: var(--color-5);
        font-family: 'Oswald', sans-serif;
    }
    .principal{
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: white;
    }
    .content{
        width: 50%;
        font-weight: bold;
    }
    
    .code{
        width: 100%;
        height: auto;
        border-radius: 10px;
    }
    .code2{
        width: 70%;
        height: auto;
        border-radius: 10px;
    }
    .code3{
        width: 70%;
        height: 10%;
        border-radius: 10px;
    }
    .code5{
        width: 100%;
        height: auto;
        border-radius: 10px;
        box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
    }
    .img2{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: auto;
    }
    
    .tittle{
        width: 50%;
    }
    .tittle h1{
        font-family: 'Oswald', sans-serif;
        color: var(--color-5);
    }
    .botones {
        width: 40%;
        display: flex;
        justify-content: space-between;
        margin-top: 20px; 
    }
    
    
    /*boton 2*/
    .btnb {
        display: flex;
        margin: 35px;
        font-family: 'Oswald', sans-serif;
        border: none;
        color: #fff !important;
        padding: 20px 45px;
        border-radius: 0;
    }
    
    .btnb:focus {
        box-shadow: none;
    }
    
    @media (max-width: 991px) {
        .btnb {
            padding: 17px 40px;
        }
    }
    
    .btnb .btn-area {
        display: block;
        overflow: hidden;
    }
    
    .btnb .btn-area span {
        position: relative;
        display: block;
        padding: 2px 0;
        transition: transform 0.9s cubic-bezier(0.19, 1, 0.22, 1);
        transform-origin: left center;
    }
    
    .btnb .btn-area span::after {
        content: attr(data-text);
        position: absolute;
        top: 150%;
        left: 0;
        transform: skewY(30deg);
        transform-origin: left center;
        transition: transform 0.9s cubic-bezier(0.19, 1, 0.22, 1);
    }
    
    .btnb:hover .btn-area span {
        transform: translateY(-150%) skewY(7deg);
    }
    
    .btnb:hover .btn-area span::after {
        transform: skewY(-7deg);
    }
    
    .btnb:visited .btn-area span {
        transform: translateY(-150%) skewY(7deg);
    }
    
    .btnb:visited .btn-area span::after {
        transform: skewY(-7deg);
    }
    
    .btnb:hover {
        background: var(--color-5);
    }
    
    .btnb {
        padding: 15px 10px !important;
        background: var(--color-5);
        color: #fff;
    }
    .material-symbols-outlined{
        transform: translateY(3px);
    }
    
}

