<section class="contr">
    <div>
      <h1>
        TRABAJEMOS JUNTOS!
      </h1>
    </div>
    <div class="botones">
        <a class="btna" routerLink="/contacto" (click)="scrollToTop()">
            <span class="btn-area">
              <span data-text="POR SUPUESTO">
                POR SUPUESTO
              </span>
            </span>
          </a>
          <a class="btnb" routerLink="/portafolio" (click)="scrollToTop()">
            <span class="btn-area">
              <span data-text="NO ESTOY CONVENCIDO">
                NO ESTOY CONVENCIDO
              </span>
            </span>
          </a>
    </div>
</section>
