<app-navbar></app-navbar>
<section class="navdel"></section>

<section class="principal">
    <div class="tittle">
        <h6>AGOSTO 28, 2023</h6>
        <h1>Mi portafolio principal</h1>
    </div>
    <div class="content">

    <img src="../assets/blog/portafolio/cvmilo.png" alt="" class="code">
    <p>
        Para este proyecto de portafolio web, decidí diseñar una landing page 
        utilizando una paleta de colores beige. Para lograr un aspecto visual distintivo,
         opté por utilizar una imagen del Renacimiento como fondo. En cuanto al navbar, 
         tuve la idea de implementar una funcionalidad que aplicara un efecto de 
         desenfoque (blur) al hacer scroll y, al mismo tiempo, añadir una barra de 
         progreso que indicara la posición del usuario en la página. <br><br><br>

        A continuación, te muestro el código HTML utilizado para lograr el 
        efecto de desenfoque (blur): <br><br><br>

    <img src="../assets/blog/portafolio/code1.png" alt="" class="code"> <br><br><br>

        Luego, surgió la idea de incorporar un contador de fechas, 
        el cual desarrollé utilizando JavaScript. Este contador recorre 
        un array que contiene los meses abreviados hasta llegar al mes actual. <br>

        Posteriormente, comencé a trabajar en la sección "Sobre Mí". Aquí, se me 
        ocurrió la idea de agregar alguna animación en 3D utilizando un archivo SVG, 
        el cual integré en mi sitio mediante un elemento iframe. <br><br><br>

        <img src="../assets/blog/portafolio/2.png" alt="" class="code"> <br><br><br><br>
        
        En la sección de "Portafolio", seleccioné cuidadosamente algunos de los 
        proyectos más relevantes para mostrar mis habilidades técnicas. Empecé desde 
        lo más sencillo, como un sistema de inicio de sesión, y llegué hasta este Portafolio-Blog
        que estás explorando ahora. <br><br><br>
        
        <img src="../assets/blog/portafolio/3.png" alt="" class="code"> <br><br><br><br>

        Para finalizar, en la sección de contacto, opté por un diseño simple 
        pero efectivo. Incluí los logotipos que enlazan a mis perfiles en las redes 
        sociales, brindando así a los visitantes una forma sencilla de conectarse 
        conmigo en las plataformas en las que estoy presente. <br><br><br>

        <img src="../assets/blog/portafolio/4.png" alt="" class="code"> <br><br><br><br>
    </p>
    <p style="font-style: italic;">
        "si lo puedes imaginar, lo puedes programar. Un recordatorio inspirador de que la creatividad y la 
        habilidad técnica pueden fusionarse para dar vida a proyectos sorprendentes." <br>
        - Camilo Cruz
    </p>
</div>
<div class="botones">
      <a class="btnb" routerLink="/cvmilo" (click)="scrollToTop()">
        <span class="btn-area">
          <span data-text="Pagina Cvmilo" >
            SIGUIENTE PROYECTO 
          </span>
        </span>
        <span class="material-symbols-outlined">
            arrow_forward
        </span>
      </a>
</div>
</section>

<app-contrapido></app-contrapido>
<app-footer></app-footer>