<app-navbar></app-navbar>
<section class="navdel"></section>

<div class="textini">
    <h1>Bienvenido a mi Blog!</h1>
    <h6>Aqui describo un poco como fue el proceso de creación de cada proyecto</h6>
</div>

<section class="blog">
        <div class="works">
            <div class="row">
                <div class="work">
                    <div class="workcontent">
                        <h1>Portafolio Principal</h1>
                        <h6>HTML, CSS & JS <br> <span class="viewp">
                            <a routerLink="/portafolioprincipal" (click)="scrollToTop()"> ver proyecto</a>
                        </span></h6>
                    </div>
                </div>
                <div class="work1">
                    <div class="workcontent">
                        <h1>Pagina Cvmilo</h1>
                        <h6>Angular<br>  <span class="viewp">
                            <a routerLink="/cvmilo" (click)="scrollToTop()"> ver proyecto</a>
                        </span></h6>
                    </div>
                </div>
            </div>
    
            <div class="row">
                <div class="work2">
                    <div class="workcontent">
                        <h1>Tres en Raya</h1>
                        <h6>HTML, CSS & JavaScript <br>  <span class="viewp">
                            <a routerLink="/tresenraya" (click)="scrollToTop()"> ver proyecto</a>
                        </span></h6>
                    </div>
                </div>
            </div>
        </div>
    
</section>
<app-contrapido></app-contrapido>
<app-footer></app-footer>