<app-navbar></app-navbar>
<section class="navdel"></section>

<section class="principal">
    <div class="tittle">
        <h6>Mayo 16, 2023</h6>
        <h1>Animaciones After Effects</h1>
    </div>

    <div class="content">

    <p>

        Durante mi período en La Dorada, Caldas, realicé aportes no estructurados en el proceso de concepción
         y desarrollo de varias animaciones y logotipos destinados a diversos patrocinadores de eventos.
        <br><br><br>
        A continuación, se presentan algunos ejemplos de las animaciones que solía crear:
        <br><br><br>
        <video src="assets\blog\after-effects\La-Dorada.webm" controls autoplay controlsList="nodownload"></video> <br><br><br>
        <video src="assets\blog\after-effects\armotor.webm" controls autoplay controlsList="nodownload"></video> <br><br><br>

    </p>


    </div>


</section>

<app-contrapido></app-contrapido>
<app-footer></app-footer>